<nav class="navbar navbar-expand-md px-2 px-md-4 py-0 fixed-top" id="header">
    <div class="container-fluid">
        <a class="navbar-brand d-none d-md-block" (click)="goToDashboard()">
          <img class="logo" src="assets/images/logos/Kiya-Logo.svg" alt="Kiya-Logo">

            <!-- <ng-content></ng-content> -->
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class=" navbar-collapse d-flex justify-content-between"> <!--collapse id="navbarTogglerDemo01" -->
            <h5 class="mb-0 ps-5 ps-md-0">
            Employee Portal
            </h5>
            <ul class="navbar-nav align-items-center gap-1">
                <li class="nav-item">
                    <a class="nav-link d-flex" (click)="toggleDarkTheme()">
                        <img src="assets/images/icons/sun.svg" alt="">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex gap-2 align-items-center" href="#"
                        id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <span class="d-none d-md-block">Language</span> -->
                        <img src="assets/images/icons/language.svg" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Tamil</a></li>
                        <li><a class="dropdown-item" href="#">Hindi</a></li>
                        <li><a class="dropdown-item" href="#">Marathi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- Notification -->
                        <img src="assets/images/icons/notification.svg" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg py-0"
                        aria-labelledby="navbarDarkDropdownMenuLink">
                        <div class="p-2 border-top-0 border-start-0 border-end-0 border-dashed border">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0 font-16 fw-semibold"> Notification</h6>
                                </div>
                                <div class="col-auto">
                                    <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                        <small>Clear All</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-muted font-13 fw-normal mt-2">Today</h5>
                        <a href="javascript:void(0);"
                            class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-2">
                            <div class="card-body">
                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="notify-icon bg-primary">
                                            <i class="mdi mdi-comment-account-outline"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 text-truncate ms-2">
                                        <h5 class="noti-item-title fw-semibold font-14">Datacorp <small
                                                class="fw-normal text-muted ms-1">1 min ago</small></h5>
                                        <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on
                                            Admin</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center gap-3" href="#" id="navbarDarkDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/images/icons/profile.png" class="profile__icon " alt="">
                        <!-- <span class="profile">
                            <h6 class="profile__name mb-0">Balachandiran B.S</h6>
                            <small class="role">Maker</small>
                        </span> -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <h6 class="text-primary mb-0">Welcome! <strong>Balachandiran B</strong></h6>
                        <small class="text-primary opacity-50">Last Login: 02 May 2023, 20:45:23 IST</small>
                        <p class="mt-3 mb-2">Branch: VCIP Cell Mumbai </p>
                        <p class="">Role: CPC Maker</p>
                        <hr class="my-3">
                        <a class="d-flex align-items-center gap-2 text-decoration-none" href=""><img src="assets/images/icons/logout.svg" alt="logout icon">Logout</a>
                        <!-- <li><a class="dropdown-item" href="#">Last Login time: 10.20 am</a></li> -->
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>