<footer class="global-footer d-md-block d-none px-4">
    <div class="container-fluid">
        <div class="row mx-0 justify-content-between align-items-center">
            <div class="col-auto">
                <p class="small m-0">© Infrasoft Technologies Ltd. All Rights Reserved.</p>
            </div>
            <div class="col-auto">
                <!-- <p class="small m-0 flex-shrink-0">Powered By&nbsp;</p> -->
                <img class="footer__logo" src="images/logo/kiya-logo.png" alt="kiya logo">
            </div>
        </div>
    </div>
  </footer>