<app-main-layout>
    <div class="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"class="text-primary text-decoration-none">Dasboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Requests assigned to me</li>
            </ol>
          </nav>
        <div class="bg-white p-4">
            <h3 class="mb-3">User Verification</h3>
            <hr>
            <section class="gradient_card details-basic d-lg-flex px-5 py-2">
                <div class="d-flex gap-3 align-items-center">
                    <img src="assets/images/Profile-Picture.svg" alt="Profile-picture">
                    <h3 class="mb-0">Balachandiran B</h3>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <img src="assets/images/icons/date-icon.svg" alt="date-icon">
                    <span>
                        <small>Date of birth</small>
                        <p class="mb-0">28/05/1989</p>
                    </span>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <img src="assets/images/icons/gender-icon.svg" alt="date-icon">
                    <span>
                        <small>Gender</small>
                        <p class="mb-0">Male</p>
                    </span>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <img src="assets/images/icons/mobile-icon.svg" alt="date-icon">
                    <span>
                        <small>Mobile number</small>
                        <p class="mb-0">9840166419</p>
                    </span>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <img src="assets/images/icons/email-icon.svg" alt="date-icon">
                    <span>
                        <small>Email id</small>
                        <p class="mb-0">balachandiran.b@kiya.ai</p>
                    </span>
                </div>
            </section>
            <!-- details_section basic -->
            <section class="details_section position-relative mt-3 ps-3">
                <h4 class="details_title text-center text-primary position-relative">Basic details</h4>
                <article class="row justify-content-lg-between my-3">
                    <!-- <div class="col-lg-4">
                        <img class=" my-2" src="/assets/images/male-blue.png" alt="">
                    </div> -->
                    <div class="col-lg-4">
                        <small>Name as per PAN</small>
                        <p>Balachandiran B</p>
                        <small>Name as per Aadhar</small>
                        <p>Balachandiran B</p>
                    </div>
                    <div class="col-lg-4">
                        <small>Mother’s name</small>
                        <p>Sumathi B</p>
                        <small>Father’s name</small>
                        <p>Balasubramanian R</p>
                    </div>
                    <div class="col-lg-4">
                        <small>Dependents</small>
                        <p>2</p>
                        <small>Religion</small>
                        <p>Hindu</p>
                    </div>
                </article>
            </section>
            <!-- details_section career -->

            <section class="details_section position-relative mt-5 ps-3">
                <h4 class="details_title text-center text-primary position-relative">Career details</h4>
                <article class="row justify-content-lg-between my-3">
                    <div class="col-lg-4">
                        <small>Education</small>
                        <p>Graduate</p>
                        <small>Occupation</small>
                        <p>Salaried</p>
                        <small>Annual income</small>
                        <p>>5,00,000</p>
                    </div>
                    <div class="col-lg-4">
                        <small>Employer name</small>
                        <p>Kiya.ai</p>
                        <small>Employer contact no.</small>
                        <p>044 4051 8888</p>
                    </div>
                    <div class="col-lg-4">
                        <small>Employer key person</small>
                        <p>Pravin</p>
                        <small>Key person contact no.</small>
                        <p>9820271773</p>
                    </div>
                </article>
            </section>
            <!-- details_section Account -->
            <section class="details_section position-relative mt-5 ps-3">
                <h4 class="details_title text-center text-primary position-relative">Account details</h4>
                <article class="row justify-content-lg-between my-3">
                    <div class="col-lg-4">
                        <small>Customer ID</small>
                        <p>00000028282829101</p>
                        <small>Account number</small>
                        <p>6803902902</p>
                        <small>Account type</small>
                        <p>Savings (V-CIP)</p>
                        
                    </div>

                    <div class="col-lg-4">
                        <small>Branch</small>
                        <p>Chennai- Anna Nagar</p>
                        <small>Latitude/Longitude (City)</small>
                        <p>13.0827° N, 80.2707° E (Chennai)</p>
                        <small>Time stamp</small>
                        <p>28-04-2023, 09:06:23 am</p>
                    </div>
                    <div class="col-lg-4">
                        <small>PAN</small>
                        <p>CGZPB2674Q</p>
                        <a href="" class="pe-2">view doc</a>
                        <small>Aadhar (Aadhar EKYC Verified)</small>
                        <p>xxxxxxxx7878</p>
                        <a href="">view customer photo</a>
                        
                    </div>
                    
                </article>
            </section>
            <!-- details_section address -->
            <section class="details_section position-relative mt-5 ps-3">
                <h4 class="details_title text-center text-primary position-relative">Address details</h4>
                <article class="row my-3">
                    <div class="col-lg-4">
                        <small>Present address (EKYC Verified)</small>
                        <p>9/33, Jeevan Bhima Nagar,
                            Anna Nagar West,
                            Chennai, TN. PIN - 600 101</p>
                    </div>
                    <div class="col-lg-4">
                        <small>Mailing address</small>
                        <p>9/33, Jeevan Bhima Nagar,
                            Anna Nagar West,
                            Chennai, TN. PIN - 600 101</p>
                    </div>
                </article>
            </section>
            <!-- details_section Guardian -->
            <section class="details_section position-relative mt-5 ps-3">
                <h4 class="details_title text-center text-primary position-relative">Guardian details</h4>
                <article class="row my-3">
                    <div class="col-lg-4">
                        <small>Guardian Name</small>
                        <p>Sagar Kumar</p>
                        <small>Guardian Relation</small>
                        <p>Father</p>
                    </div>
                    <div class="col-lg-4">
                        <small>Guardian location</small>
                        <p>Chennai.</p>
                        <small>Guardian Type</small>
                        <p>Permanent</p>
                    </div>
                </article>
            </section>
            <!-- Nominee details -->
            <section class="details_section position-relative mt-5 ps-3">
                <h4 class="details_title text-center text-primary position-relative">Nominee details</h4>
                <article class="row  my-3">
                    <div class="col-lg-4">
                        <small>Nominee Name</small>
                        <p>Sagar Kumar</p>
                        <small>Nominee Age</small>
                        <p>25</p>
                        
                    </div>
                    <div class="col-lg-4">
                        <small>Nominee Relationship</small>
                        <p>Son</p>
                        <small>Nominee Address</small>
                        <p>9/33, Jeevan Bhima Nagar,
                            Anna Nagar West,
                            Chennai, TN. PIN - 600 101</p>
                    </div>
                </article>
            </section>
            <section class="row justify-content-between">
                <!-- Selfie  authentication details -->
                <section class="details_section position-relative mt-5 ms-3 col-lg-4">
                    <h4 class="details_title text-center text-primary position-relative">Selfie  authentication details</h4>
                    <img src="/assets/images/Bala-selfie.png" alt="Bala-selfie">
                    <!-- <section class="content row px-5 my-3">
                        <div class="col-lg-4 col-lg-auto">
                        </div>
                    </section> -->
                </section>
                <!-- Signature details -->
                <section class="details_section position-relative mt-5 me-3 col-lg-7">
                    <h4 class="details_title text-center text-primary position-relative">Signature details</h4>
                    <section class="content row px-5 my-3">
                        <div class="col-lg-6">
                            <img src="/assets/images/Bala-signature.png" alt="Bala-selfie">
                            <p>Customer signature</p>
                        </div>
                        <div class="col-lg-6">
                            <img src="/assets/images/Bala-selfie.png" alt="Bala-selfie">
                            <p>VCIP</p>
                        </div>
                    </section>
                </section>
            </section>
            <!-- verification section -->
            <section class="row mt-5">
                <div class="col-lg-6">
                    <div class="d-flex gap-3 align-items-center">
                        <h4 class="mb-0 col-lg-6">Verification completed</h4><a href="">Checklist</a>
                    </div>
                    <div class="d-flex gap-3 align-items-center mt-2">
                        <h4 class="mb-0 col-lg-6">New customer</h4><a href="">View details</a>
                    </div>
                    <div class="d-flex gap-3 align-items-center mt-2">
                        <h4 class="mb-0 col-lg-6">Welcome letter</h4><a href="">View & print</a>
                    </div>
                    <div class="d-flex gap-3 align-items-center mt-2">
                        <h4 class="mb-0 col-lg-6">Customer profile form</h4><a href="">Download</a>
                    </div>
                    <div class="d-flex gap-3 align-items-center mt-2">
                        <h4 class="mb-0 col-lg-6">Video call</h4><a href="">Schedule meeting</a>
                    </div>
                    <!-- <div class="mt-4"> -->
                          
                          <!-- <div class="col-auto form-floating pl-0">
                            <input type="date" class="form-control" name="date" id="date" placeholder="">
                            <label for="date">Start date</label>
                            <span class="date_icon">📅</span>
                        </div> -->
                    <!-- </div> -->
                </div>
                <div class="col-lg-6">
                    <!-- slots section -->
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      
                    <p class="mt-2">Select a slot</p>
                    <div class="row gap-3 justify-content-between mt-4 mx-0">
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                        <button class="button btn-secondary btn-slot">19:15-19:30</button>
                      
                    </div>
                </div>
            </section>
            <section class="row mt-4 mx-0">
                <div class="col-lg-12">
                    <div class="col-auto">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Comments" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">You can add comments before you onboard/reject </label>
                          </div>
                    </div>
                </div>
            </section>
            <section class="row mx-0 mt-5 justify-content-end gap-4">
                <button class="col-auto  button btn-secondary">Reject</button>
                <button class="col-auto  button btn-primary">Accept</button>
            </section>
        </div>
    </div>
</app-main-layout>