<footer class="position-fixed px-4 py-1">
    <div class="container-fluid">
        <div class="row mx-0 justify-content-between align-items-center">
            <div class="col-auto">
                <small class="m-0">© Infrasoft Technologies Ltd. All Rights Reserved.</small>
            </div>
            <div class="col-auto d-flex align-items-center gap-2">
                <small class="mb-0">Powered by</small>
                <img class="logo" src="assets/images/logos/Kiya-Logo.svg" alt="kiya logo">
            </div>
        </div>
    </div>
  </footer>